<div class="sidebar">
  <div class="profile-section">
    <img src="/img/WeRideLogo.png" alt="Profile">
    <h3>Judy Stevenson</h3>
  </div>

  <nav>
    <ul>
      <li routerLink="/home" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Inicio</span>
      </li>
      <li>
        <mat-icon>garage</mat-icon>
        <span>Garaje</span>
      </li>
      <li>
        <mat-icon>person</mat-icon>
        <span>Tu</span>
      </li>
      <li>
        <mat-icon>card_membership</mat-icon>
        <span>Planes</span>
      </li>
      <li>
        <mat-icon>luggage</mat-icon>
        <span>Viaje</span>
      </li>
      <li routerLink="/vehicle-status" routerLinkActive="active">
        <mat-icon>book_online</mat-icon>
        <span>Reservas</span>
      </li>
    </ul>
  </nav>
</div>
