<div class="user-profile">
  <img
    src="/user-avatar.jpg"
    alt="User Avatar"
    class="user-avatar"
  />
  <h3 class="user-name">User</h3>
</div>

<nav class="sidebar-menu">
  <a class="menu-item active" href="#">
    <mat-icon>dashboard</mat-icon>
    <span>Inicio</span>
  </a>
  <a class="menu-item" href="#">
    <mat-icon>garage</mat-icon>
    <span>Garaje</span>
  </a>
  <a class="menu-item" href="#">
    <mat-icon>person</mat-icon>
    <span>Tu</span>
  </a>
  <a class="menu-item" href="#">
    <mat-icon>card_membership</mat-icon>
    <span>Planes</span>
  </a>
  <a class="menu-item" href="#">
    <mat-icon>luggage</mat-icon>
    <span>Viaje</span>
  </a>
  <a class="menu-item" href="#">
    <mat-icon>book_online</mat-icon>
    <span>Reservas</span>
  </a>
</nav>

