<mat-toolbar class="navbar">
  <button mat-icon-button (click)="onToggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <img
    src="/WeRideLogo.png"
    alt="WeRide Logo"
    class="logo"
  />

  <span class="spacer"></span>

  <button mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>

  <div class="user-nav">
    <span class="user-name-nav">{{ 'navigation.user' | translate }}</span>
    <button mat-icon-button>
      <mat-icon>account_circle</mat-icon>
    </button>
  </div>
</mat-toolbar>

