.app-container {
  display: flex;
  min-height: 100vh;
  background-color: #f9fafb;
  padding-top: 60px;
  padding-left: 260px;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}