<header class="header">
  <div class="left-section">
    <button mat-icon-button (click)="toggleSidebar()" class="menu-btn">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo-container">
      <img src="/WeRideLogo.png" alt="WeRide Logo" class="logo">
    </div>
  </div>

  <div class="right-section">
    <app-language-switcher></app-language-switcher>
    <button mat-icon-button class="notification-btn">
      <mat-icon>notifications</mat-icon>
    </button>
    <div class="user-profile">
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <span class="user-name-nav">{{ 'navigation.user' | translate }}</span>
    </div>
    <button mat-icon-button class="more-btn">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</header>
